<div skl-busy="isLoading">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
        <b class="modal-title">Nova solicitação de frete</b>
    </div>
    <div class="modal-body">


        <form name="vm.form" novalidate>

            <h4>Origem</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control"
                                ng-model="vm.formModel.from.state"
                                ng-disabled="vm.states.length < 1"
                                ng-change="vm.loadFromCities(vm.formModel.from.state)"
                                ng-options="state as state.initials for state in vm.states track by state.id"></select>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cidade</label>
                        <select class="form-control"
                                ng-model="vm.formModel.from.city"
                                ng-disabled="vm.formModel.from.state === vm.states[0]"
                                ng-options="city as city.name for city in vm.fromCities track by city.id"></select>
                    </div>
                </div>
            </div>

            <h4>Destino</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control"
                                ng-model="vm.formModel.to.state"
                                ng-disabled="vm.states.length < 1"
                                ng-change="vm.loadToCities(vm.formModel.to.state)"
                                ng-options="state as state.initials for state in vm.states track by state.id"></select>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cidade</label>
                        <select class="form-control"
                                ng-model="vm.formModel.to.city"
                                ng-disabled="vm.formModel.to.state === vm.states[0]"
                                ng-options="city as city.name for city in vm.toCities track by city.id"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Carga em Litros</label>
                        <input type="text" ng-model="vm.formModel.volume" class="form-control" placeholder="Ex: 500">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Data preferida</label>
                        <input type="date" ng-model="vm.formModel.preferedDate" class="form-control" placeholder="__/__/____">
                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.formModel.canShare"> Aceito compartilhar caminhão
                </label>
            </div>

        </form>

        <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.dismiss()">Cancelar</button>
        <button type="submit"
                ng-click="vm.submit(vm.formModel)"
                ng-disabled="!vm.form.$valid"
                class="btn btn-success">Prosseguir &raquo
        </button>
    </div>
</div>