@node_modules_path: '../../node_modules/';
@bootswatch_theme: 'flatly'; // See availables in https://bootswatch.com/

@import "./bootstrap";
@import "@{node_modules_path}/bootswatch/@{bootswatch_theme}/variables.less";
@import "@{node_modules_path}/bootswatch/@{bootswatch_theme}/bootswatch.less";
@import "util";

.light-grey-bg{
  background-color: #f1f1f1;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.title-with-button {
  margin-bottom: 30px;
}

.page-title {
  margin: 0;
}

.request-panel{
  border: none;
  cursor: pointer;
}

.request-panel-map {
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  padding: 5px;
  border-radius: 4px 4px 0 0;
}

.request-panel-inner {
  padding: 0 15px 15px 15px;
}

.border-radius-sm {
  border-radius: 4px;
}