<div class="container">
    <div class="row">

        <div class="block-center m-t-md wd-xl">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    Cadastro
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="" name="login.loginForm" novalidate="" class="form-validate mb-lg">

                        <div class="form-group has-feedback">
                            <input type="text" placeholder="Nome" ng-model="vm.username" required=""
                                   class="form-control"/>
                            <span class="glyphicon glyphicon-user form-control-feedback text-muted"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="email" placeholder="Email" ng-model="vm.username" required=""
                                   class="form-control"/>
                            <span class="glyphicon glyphicon-envelope form-control-feedback text-muted"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="password" placeholder="Senha" ng-model="vm.password" required=""
                                   class="form-control"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback text-muted"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="password" placeholder="Repita a senha" ng-model="vm.password" required=""
                                   class="form-control"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback text-muted"></span>
                        </div>

                        <button type="submit" class="btn btn-block btn-primary mt-lg">Cadastrar</button>
                    </form>


                    <div class="clearfix">
                        <div class="pull-right"><a ui-sref="outside.login" class="text-muted">Ja tem uma conta?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-lg text-center">
                <span>&copy {{::main.app.year}} - {{::main.app.name}}</span>
            </div>
        </div>

    </div>
</div>
